@page "/Users"
@model LeveInvestimentos.Web.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Usuários";
}

<div class="uk-flex uk-flex-between uk-flex-middle uk-margin-bottom">
    <h3>Usuários</h3>
    <a href="/Users/Create" class="uk-button uk-button-primary">Novo Usuário</a>
</div>

<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone Celular</th>
                <th>Perfil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.MobilePhone</td>
                    <td>@(user.IsManager ? "Gestor" : "Subordinado")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
