@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="uk-card uk-card-default uk-card-body uk-margin-bottom uk-box-shadow-small">
    <h2 class="uk-heading-line"><span>Dashboard</span></h2>
    <p class="uk-text-muted">Bem-vindo ao LeveInvestimentos! Utilize o menu para navegar.</p>
</div>

<div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-border-rounded">
            <h3 class="uk-card-title"><span uk-icon="icon: list"></span> Suas Tarefas</h3>
            <p>Gerencie as tarefas atribuídas a você.</p>
            <a href="/Tasks" class="uk-button uk-button-default">Ver Tarefas</a>
        </div>
    </div>
    
    @if (User.HasClaim("IsManager", "True"))
    {
        <div>
            <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-border-rounded">
                <h3 class="uk-card-title"><span uk-icon="icon: users"></span> Gestão de Equipe</h3>
                <p>Cadastre novos usuários e acompanhe suas atividades.</p>
                <a href="/Users" class="uk-button uk-button-default">Ver Usuários</a>
            </div>
        </div>
    }
</div>
